.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F8EEE5;
    color: #7D5730;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer img{
  width: 100px;
  height: 100px;
  padding: 14px 16px;
}
/*
.footer {
    background-color: #F8EEE5;
    color: #7D5730;
    width: 100%;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .footertext {
    
    font-weight: Regular;
    font-size: 15px;
    text-align: center;
  }
  .footerlogo {
    margin: auto;
    width: 220px;
    height: 76px;
    /*background: url("./layout/images/v149_150.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }*/