.recipe{
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #D4AC9C;
    align-items: normal;
    min-width: 40%;
}

.btn{
    background-color: #F8EEE5;
    color:rgb(46, 44, 44);
    margin: 10px;
    justify-self: end;
    width: 100px;
}