.recipe{
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #D4AC9C;
    align-items: center;
    min-width: 40%;
}

.image{
    border-radius: 20%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}